h1 {
	font-size: 100px;
	margin-bottom: 50px;
}

.main {
	width: 340px;
	height: 120px;
	background-color: #16A085;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 10px;
}

ul .main {
	float: left;
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

ul li a{
	display: block;
}

.content {
	text-align: center;
	font-size: 22px;
	color: #FFF;
}

.author {
	font-size: 15px;
	color: #FFF;
}